html, body {
  width: 100%;
  height: 100%;
}

html { 
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/98/Galaxy-2048x1152.jpg) no-repeat center center fixed; 
  background-size: cover;
  margin-top: 10em;
}


#container {
  margin: 0 auto;
  width: 70%
}

